.profile{
  background-color: azure;
  width: 100%;
  display: grid;
  grid-template-columns: auto 70%;
  grid-gap: 2rem;
}

@media (max-width: 1024px) {
  .profile{
    display: flex;
    flex-direction: column;
  }
}