@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Handlee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Staatliches&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* Colores */
  --color-oscuro: #000;
  --color-claro: #ffffff;
  --color-secundario: #231f20;
  --color-fondo: #181617;
  --color-footer: #0A075F;
  --color-gris: #f8f8fa;
  
  --fondo-gris: #eeeeee;

  /* Colores tipografia */
  --color-letras-primario: #000;
  --color-letras-secundario: #ffffff;
  --color-letras-terceario: red;
  --color-letras-cuaternario: #01A198;

  /* Header */
  --color-header1: #ed4690e6;
  --color-header2: #5522cce6;


  /* Color botones */
  --color-botones: #ffe047;


  /* Fuentes */
  --fuente-primaria: "Poppins", sans-serif;
  --fuente-secundaria: "Roboto", sans-serif;
  font-size: 16px;

  /* Dispositivos */
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1024px;
}
