.tituloEventos {
  margin: 0;
  padding: 4rem;
  background-image: url(../../../images/ViviLaExperiencia.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-size: cover;
  height: 10vh; 
}

.tituloEventos h1 {
  text-align: center;
  font-size: 3.5rem; 
  color: var(--color-letras-secundario);
  text-shadow: 2px 2px 4px var(--color-letras-primario);
}

.allListaEventosa {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
}
