.headerEvento img {
  width: 90%;
  height: 60vh;
  margin: 0 auto;

}
.headerEvento{
    display: flex;
    justify-content: center;
    background-color: var(--color-fondo);
}
.titulo-fecha {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.informacionEvento .titulo {
  padding: 1rem;
  margin: 0;
  text-align: right;
  font-size: 4rem;
  color: var(--color-letras-secundario);
  text-transform: uppercase;
}

.informacionEvento .fecha {
    /*Gradiente para las fechas*/
  background: rgb(1, 161, 152);
  background: linear-gradient(
    90deg,
    rgba(1, 161, 152, 1) 0%,
    rgba(251, 24, 24, 1) 100%
  );
  padding: 1rem;
  margin: 0;
  margin-right: 2rem;
  color: var(--color-letras-secundario);
  font-size: 1.5rem;
}

.mensajeError {
    background-color: black;
    border-radius: 8px;
    padding: 8px;
}

.comprarEntrada, .publicarEntrada, .transferirEntrada {
    margin: 0 2rem;
    background-color: var(--color-letras-cuaternario);
}

.comprarEntrada h3, .publicarEntrada h3, .transferirEntrada h3{
    text-align: center;
    color: var(--color-letras-secundario);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    margin:0;
}

.formComprarEntrada, .formPublicarEntrada {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.formTransferirEntrada {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formComprarEntrada label, .formComprarEntrada label {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
    width: calc(33.33%); /*Porque se parte en 3*/
}

.comprarTicketsButton, .publicarTicketButton {
    flex-grow: 1;
    width: calc(33.33%); /*Porque se parte en 3*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprarTicketsButton > button, .publicarTicketButton > button, .TransferirTicketButton > button {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--color-letras-terceario);
    color: var(--color-letras-secundario);
    border-radius: 30px;
}
.calcular{
    background-color: var(--color-letras-terceario);
    color: var(--color-letras-secundario);
}
.calcular:hover, .publicarTicketButton > button:hover, .TransferirTicketButton > button  {
    background-color: var(--color-letras-secundario);
    color:var(--color-letras-terceario);
}
.comprarTicketsButton > button:hover {
    width: 11rem;
    height: 4rem;
    font-size: 1.8rem;
    background-color: var(--color-letras-secundario);
    color:var(--color-letras-terceario);
}

.formComprarEntrada label > input, .formComprarEntrada label > select{
    display: block;
    font-size: 1.5rem;
}
.formPublicarEntrada label > input{
    display: block;
    font-size: 1.2rem;
}

.formTransferirEntrada label > input{
    display: block;
    font-size: 1.2rem;
}

.formTransferirEntrada {
    text-align: center;
}

.acercaDelEvento, .comoLLegar{
    margin: 0 2rem;
}

.acercaDelEvento > h3, .comoLLegar > h3{
    padding: 2rem 1rem 1.5rem;
    margin: 0;
    text-align: left;
    font-size: 3rem;
    color: var(--color-letras-secundario);
    text-transform: uppercase;
}

.acercaDelEvento p{
    padding: 1rem;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
    color: var(--color-letras-secundario);
    font-style: italic;
    font-weight: 600;
}
/* .informacionEvento{
    padding-top: 2rem;
    width: 100%;
}
Datos del evento

.datosEvento label > input, .datosEvento label > select {
    display: block; /*Label arriba del input
    width: 100%;
}

.informacionEvento .titulo{
    padding: 0.6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: var(--color-letras-secundario);
}

.figuraEvento{
    display: grid;
    grid-template-areas:    "imagen fecha"
                            "imagen descripcion";
    grid-template-columns: 50% auto;
    grid-template-rows: 20% auto;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
    margin: 0 auto;
    background-color: var(--color-letras-secundario);
}

.informacionEvento .fechas{
    font-size: 2rem;
    font-weight: bold;
    grid-area: fecha;
    color: var(--color-letras-primario);
}

.informacionEvento .descripcion{
    grid-area: descripcion;
    color: var(--color-color-primario);
}

.informacionEvento .imagen{
    grid-area: imagen;
    width: 100%;
    border-radius: 10px;
}
p{
    color:#3b3737
} */

/* PUBLICAR TICKET ESTILOS */
.costos > p{
    color:aliceblue;
}
.formPublicarEntrada{
    padding: 10px;
}
.costos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .publicarTicketButton {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
/* Ocultar flechas en navegadores basados en WebKit (Chrome, Safari) */
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Ocultar flechas en Firefox */
.no-spin {
  -moz-appearance: textfield;
  appearance: textfield;
}