.ayuda-main {
    background-image: none;
  }
.titulo{
    color: var(--color-letras-secundario);
}
.ayuda-main ul li{
    color:var(--color-letras-secundario);
}
.ayuda-boton{
  background-color: var(--color-letras-cuaternario);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.login-list,.comprar-list,.vender-list, .merpago-list {
    list-style-type: decimal; 
    padding-left: 20px; 
  }
  
  .login-item {
    margin-bottom: 10px; 
    position: relative;
  }
  
  .ayuda-img {
    display: block; 
    margin-top: 5px; 
    max-width: 100%; 
    max-height: 300px; 
    border: 1px solid white;
}