.eventCard {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-oscuro);
  width: 23rem;
  height: 25rem;
  background-color: var(--color-claro);
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 1rem;
  display: grid;
  grid-template-rows: 50% 20% 15% auto;
  grid-template-columns: 25% 75%;
  grid-template-areas:
    "imagen imagen"
    "fecha  titulo"
    "fecha  descripcion"
    "precio precio";
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.2);
}

.imgEventCard {
  grid-area: imagen; 
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.nombreEventCard {
  grid-area: titulo;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: var(--fuente-primaria);
  font-size: 2rem;
  font-weight: bolder;
  padding-left: 0.5rem;
}

.descripcionEventCard{
  grid-area: descripcion;
  width: 90%;
  height: 100%;
  font-family: var(--fuente-secundaria);
  padding-left: 0.5rem;
  padding-right: -2rem;

  /* Solo dos lineas, luego ellipsis */
  overflow: hidden; 
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.3em;
  max-height: 2.6em;
}

.precioEventCard {
  grid-area: precio;
  font-size: 1rem;
  text-align: center;
  font-family: var(--fuente-primaria);
  font-weight: 500;
}

.fechaEventCard {
  grid-area: fecha;
  width: 100%;
  height: 50%;
  font-size: 0.9em;
  font-family: var(--fuente-primaria);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fechaEventCard p:nth-child(1){
  font-size: 3em;
  font-weight: bold;
}

.fechaEventCard p:nth-child(2){
  font-size: 1.5em;
  font-weight: bold;
}

.fechaEventCard p:nth-child(3){
  font-size: 1.2em;
  font-weight: bold;
}

/* Desktop */

@media (min-width: 1024px) {
  .eventCard:hover {
    transform: translateY(-1rem);
    transition: 0.35s all ease-in-out;
  }
}


