.listEvents{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--color-claro);
}