.eventoProductora {
  width: 90%;
  height: 8rem;
  display: flex;
  align-items: center;
  background-color: var(--color-claro);
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  overflow: hidden;
  text-decoration: none;
}

.titulo {
  font-family: var(--fuente-primaria);
  font-size: 2rem;
  font-weight: bolder;
  width: auto;
  padding: 2rem;
}

.imagen {
  display: none;
}

.acciones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.acciones a {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--color-letras-terceario);
  color: var(--color-letras-terceario);
}

@media (min-width: 1024px) {
  .acciones a:hover {
    color: var(--color-letras-secundario);
    background-color: var(--color-letras-terceario);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
