.linkEventTicket{
  text-decoration: none;
  cursor: pointer;
  color: var(--color-oscuro);
}

.eventTicket{
  display: flex;
  width: 25rem;
  height: 8rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  font-family: var(--fuente-primaria);
  border-radius: 1rem;
  background-color: var(--color-botones);
  border: 1px solid var(--color-fondo);
}

.leftEventTicket{
  display: grid;
  grid-template-areas:
    "titulo imagen"
    "fecha  imagen";
  grid-template-columns: 60% auto;
  grid-template-rows: 50% 50%;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-oscuro);
  text-decoration: none;
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  border-right: 10px double var(--color-fondo);
  background-color: var(--color-claro);
  width: 80%;
}

.leftEventTicket h2{
  grid-area: titulo;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}

.leftEventTicket p{
  grid-area: fecha;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}

.leftEventTicket img{
  grid-area: imagen;
  object-fit: cover;
  /* height: 100%; */
  align-self: center;
  justify-self: center;
}

@media (min-width: 1024px) {
  .leftEventTicket img {
    max-height: 100%;
  }
}

.rightEventTicket{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%; 
  padding: 1rem;
}

.tipo{
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--fuente-primaria);
}

.precio{
  font-size: 1.8rem;
  font-weight: bolder;
  font-family: var(--fuente-secundaria);
  width: 20%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
