.footer{
  background-color: var(--color-footer);
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer img{
  width: 5%;
  padding-bottom: 1rem;
}

.footer hr{
  width: 50%;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 1rem 1.5rem;
}

.copyright em{
  font-size: 0.7rem;
  color: var(--color-letras-secundario);
}

/* --------- TABLET Y MÓVIL (menor a 1024px) --------- */
@media (max-width: 1024px) {
  .footer img{
    width: 20%;
  }
}