/*Hay que hacerlo manual porque queda muy pixeleado*/
main{
  /*background: rgb(24,22,23);
  background: linear-gradient(180deg, rgba(12,39,58,1) 38%, rgba(29,93,154,1) 100%);*/
  background-image: url("../../../images/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: center;
}


