header.proximosEventos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.proximosEventos h2{
  text-transform: uppercase;
  color: var(--color-letras-secundario);

}
  
.listaEventos{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
}

.allEventos{
  text-decoration: none;
  padding: 0.3rem 1rem;
  border: 1px solid var(--color-letras-cuaternario);
  border-radius: 30px;
  color: var(--color-letras-secundario);
} 

.allEventos:hover{
  background-color: var(--color-letras-cuaternario);
  transition: all 0.35s ease-in-out;
}

