article.ticket {
  display: grid;
  grid-template-areas:
    "imagen imagen"
    "nombre nombre"
    "fecha fecha"
    "tipo precio"
    "acciones acciones";
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 5% auto auto auto;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-claro);
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 1rem;
  width: 399px;
  height: 400px;
  font-family: var(--fuente-primaria);
  position: relative;
}

article.ticket h2 {
  grid-area: nombre;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--color-letras-primario);
}

article.ticket img {
  grid-area: imagen;
  width: 95%;
  height: 210px;
  padding: 6px;
  border-radius: 5px;
  object-fit: cover;
}

article.ticket .tipo {
  grid-area: tipo;
}

article.ticket .precio {
  grid-area: precio;
}

article.ticket .fecha {
  grid-area: fecha;
  font-size: 1.1rem;
  font-weight: 500;
}

article.ticket .acciones {
  grid-area: acciones;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

article.ticket button{
  text-decoration: none;
  text-align: center;
  padding: 0.55rem;
  border-radius: 0.7rem;
  font-family: var(--fuente-primaria);
  font-size: 0.95rem;
  font-weight: 600;
  transition: background-color 0.2s ease, transform 0.15s ease;
}

article.ticket button,
.profileBeneficios {
  background-color: var(--color-letras-cuaternario);
  color: var(--color-letras-secundario);
  width: 7rem;
}

article.ticket button:hover,
.profileBeneficios:hover {
  background-color: var(--color-letras-secundario);
  color: var(--color-letras-cuaternario);
  border: 1px solid var(--color-letras-cuaternario);
  
}

.ticket.usado::before {
  content: "USADO";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.5); /* Filtro rojo semitransparente */
  border-radius: 5px;
}

/*Mostrar entrada*/
.modal,
.overlay {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 99999;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
