.reporteProductora {
  font-family: var(--fuente-primaria);
  color: var(--color-letras-primario);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--fuente-primaria);
  z-index: 1;
}

.reporteProductora{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--fuente-primaria);
  z-index: 1;
}

.reporteProductora h1{
  font-size: 1.8rem;
  padding: 2rem 0 1rem 0;
  font-weight: 500;
}

.reporteProductora hr{
  color: var(--color-oscuro);
  height: 0.1rem;
  width: 100%;
}

.statsProductora{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}

.statsProductora .stat{
  background: var(--color-principal-claro);
  text-align: center;
  flex: 1;
}

.statsProductora .stat h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.statsProductora .stat p {
  font-size: 2rem;
  padding: 0.5rem 0;
}