/* Estilo basico del sitio en raiz */
:root {
  /*Colores a utilizar*/
  --color-principal: #000;
  --color-principal-claro: #fddf8a;
  --color-secundario: #231f20;

  /*Letras*/
  --color-letras-primario: #000;
  --color-letras-secundario: #ffffff;
  --color-letras-terceario: red;
  --color-letras-cuaternario: #01A198;

  /*Fuentes*/
  font-family: "Black regular";
  font-size: 16px;
}


article.evento {
  display: grid;
  grid-template-areas:
    "imagen imagen"
    "nombre nombre"
    "fecha fecha"
    "precio comprar";
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 5% 10% auto;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-letras-secundario);
  border-radius: 10px;
  margin: 1rem;
}

article.evento h2 {
  grid-area: nombre;
  height: auto;
  text-transform: uppercase;
}

article.evento img {
  grid-area: imagen;
  width: 95%;
  height: 90%;
  border-radius: 5px;
}

article.evento .precio {
  grid-area: precio;
}

article.evento .fecha {
  grid-area: fecha;
  height: auto;
}

article.evento a {
  grid-area: comprar;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  background-color: var(--color-letras-terceario);
  color: var(--color-letras-secundario);
  width: 7rem;
}

article.evento a:hover{
  background-color: var(--color-letras-secundario);
  color: var(--color-letras-terceario);
  border: 1px solid var(--color-letras-terceario);
}
