/* Para que el footer no quede flotando */
main {
  min-height: 60vh;
}

.header-principal {
  background-color: var(--color-principal);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logoHeader{
  margin: 0.7rem;
}

.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navegacion li{
    list-style: none;
    padding: 0rem 1.2rem;
}

.navegacion li a{
    text-decoration: none;
    color: var(--color-letras-secundario);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navegacion li a:hover{
  color: var(--color-letras-cuaternario);
  border-bottom: 5px solid var(--color-letras-cuaternario);
  transition: all 100ms ease-in-out;
}

.logo {
  width: 5rem;
}

.icono-usuario {
  padding: 0rem 1rem;
  width: 2.2rem;
  cursor: pointer;
}

.icono-usuario-auth0 {
  width: 3.8rem;
  border-radius: 50px;
  cursor: pointer;
}