/*Hay que hacerlo manual porque queda muy pixeleado*/
main{
  background-image: url("../../images/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: center;
}


