body {
    background-color: #231f20; 
   
}
h1{
    color:aliceblue;
    text-align: center;
}

.datosRegistro form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
}

.datosRegistro label {
    color: var(--color-letras-secundario);
    width: 35%;
    padding: 5px 0;
    text-align: left; 
    margin-bottom: 10px; 
}

.datosRegistro input:disabled {
    background-color: #9b9b9b; 
    color: black; 
}
/* Estilos para los inputs */
.datosRegistro input[type="text"],
.datosRegistro input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-principal-claro);
    border-radius: 8px;
    font-family: "Black regular";
    font-size: 16px;
    margin-top: 5px; 
    display: block;
}

/* Estilos para el botón */
.datosRegistro button {
    background-color: #01a198;
    color: var(--color-letras-secundario);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Black regular";
    font-size: 16px;
    margin-top: 20px; 
}

/* Estilos para el botón al pasar el cursor */
.datosRegistro button:hover {
    background-color: var(--color-principal); /* Cambio de color al pasar el cursor */
}