body,main {
  background-color: var(--color-secundario);
}

.datosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.datosContainer .datos input {
  margin-left: 10px;
}

.datos, .noLogin {
  color: aliceblue;
}
.error-message {
  color: black;
}

.infoCliente, .tusTickets {
  color: #01a198;
  margin: 0 auto;
}

.formulario-edicion {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 300px;
}

.formulario-edicion label {
  display: block;
  margin-bottom: 5px;
  color:black
}

.formulario-edicion input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.formulario-edicion button {
  display: block;
  margin: 0 auto; 
}
.formulario-edicion button:hover {
  color: var(--color-secundario);
  border: 1px solid black;
}
button {
  background-color: var(--color-letras-cuaternario);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin:5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.logout{
  background-color: var(--color-letras-terceario);
}
.back{
  background-color: var(--color-letras-secundario);
  color:black
}

.botones-container {
  display: flex;
  justify-content: center;
}

.botones-container > * {
  margin: 0 5px;
}



.loading-container {
  text-align: center; /* Alinear el texto al centro */
}

.loading-container .noLogin {
  color: var(--color-letras-terceario);
}

.loading-container button {
  background-color: var(--color-letras-cuaternario);;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loading-container button:hover {
  background-color: #016868;
}