.ticketQR {
    /*background-image: url("../../images/entrada.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;  */
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}

.imagenEvento{
    
}