article.ticket {
  display: grid;
  grid-template-areas:
    "imagen imagen"
    "nombre nombre"
    "fecha fecha"
    "tipo precio"
    "ver ver";
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto 5% auto auto auto;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-letras-secundario);
  border-radius: 10px;
  margin: 1rem;
  width: 399px;
  height: 370px;
}

article.ticket h2 {
  grid-area: nombre;
  height: 10px;
  text-transform: uppercase;
  color: var(--color-letras-primario);
}

article.ticket img {
  grid-area: imagen;
  width: 95%;
  height: 210px;
  padding: 6px;
  border-radius: 5px;
  object-fit: cover;
}

article.ticket .tipo {
  grid-area: tipo;
  height: 5px;
}

article.ticket .precio {
  grid-area: precio;
  height: 5px;
}

article.ticket .fecha {
  grid-area: fecha;
  height: 5px;
}

article.ticket button {
  grid-area: ver;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  background-color: var(--color-letras-terceario);
  color: var(--color-letras-secundario);
  width: 7rem;
}

article.ticket button:hover {
  background-color: var(--color-letras-secundario);
  color: var(--color-letras-terceario);
  border: 1px solid var(--color-letras-terceario);
}

/*Mostrar entrada*/
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  background-color: green;
  /*position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;*/
}
