.misEventosProductora,.users, .eventsProfile,.produsProfile, .tusTickets{
    text-align: center;
    color: var(--color-letras-cuaternario);
    font-size: 2rem;
    margin-bottom: 0;
}

.listaEventosProductora{
    border-radius: 20px;
    list-style: none;
    padding: 0.5rem;
    margin: 0 auto;
    width: 50%;
}

.eventosProductora{
    background-color: var(--color-letras-secundario);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.productora-item{
    color: var(--color-letras-secundario)
}

.eventosProductora h3{
    color:var(--color-letras-primario);
    padding: 2rem;
    text-transform: uppercase;
}

.botonesEventoProductora {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap; 
}
.validarEntrada, .modificarEntrada, .verReporte {
    padding: 0.5rem;
    margin: 0.5rem 0; 
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--color-letras-terceario);
    color: var(--color-letras-terceario);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.verReporteAdmin {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--color-letras-terceario);
    color: var(--color-letras-terceario);
    background-color: var(--color-fondo-primario);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
.validarEntrada:hover, .modificarEntrada:hover, .verReporte:hover, .verReporteAdmin:hover{
    color: var(--color-letras-secundario);
    background-color: var(--color-letras-terceario);
}

.imagenEventoProductura{
    width: 10rem;
    height: 6rem;
}

.programar {
    display: block; 
    width: fit-content; 
    margin: 1rem auto; 
    padding: 0.3rem 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--color-letras-terceario);
    color: var(--color-letras-terceario);
    background-color: var(--color-fondo-primario); /* Fondo del botón */
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves para hover */
}

.programar:hover {
    color: var(--color-letras-secundario);
    background-color: var(--color-letras-terceario); /* Cambio de fondo en hover */
}

/* Estilos para el select */
.filtros {
    display: flex;
    align-items: center;
    justify-content: center; /* Opcional: Centra horizontalmente el contenido dentro de la sección */
    gap: 1rem; /* Añade un espacio entre el h3 y el select */
    margin-bottom: 1rem;
}

.filtros h3 {
    margin: 0;
    font-size: 1.5rem; /* Ajusta según sea necesario */
}

#evento-select, #orden-select {
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-letras-cuaternario);
    background-color: var(--color-fondo);
    color: var(--color-letras-secundario);
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#evento-select:hover, #orden-select:hover {
    color: var(--color-letras-secundario);
    background-color: var(--color-fondo);
}