body,main {
  background-color: var(--color-secundario);
}


.profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoClienteProfile, .tusTickets, .users, .eventsProfile{
  color: var(--color-letras-cuaternario);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}






.datosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.datosContainer .datos input {
  margin-left: 10px;
}

.datos, .noLogin, .chargeClient {
  color: aliceblue;
}
.error-message {
  color: black;
}



.formulario-edicion {
  background-color: #f55555;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 300px;
}

.formulario-edicion label {
  display: block;
  margin-bottom: 5px;
  color:black
}

.formulario-edicion input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.formulario-edicion button {
  display: block;
  margin: 0 auto; 
}
.formulario-edicion button:hover {
  color: var(--color-secundario);
  border: 1px solid black;
}
button {
  background-color: var(--color-letras-cuaternario);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin:5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.logout{
  background-color: var(--color-letras-terceario);
}
.back{
  background-color: var(--color-letras-secundario);
  color:black
}

.botones-container {
  display: flex;
  justify-content: center;
}

.botones-container > * {
  margin: 0 5px;
}



.loading-container {
  text-align: center; /* Alinear el texto al centro */
}

.loading-container .noLogin {
  color: var(--color-letras-terceario);
}

.loading-container button {
  background-color: var(--color-letras-cuaternario);;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loading-container button:hover {
  background-color: #016868;
}
 .usuario, .eventProfile{
  color: white;
}
.title_terms{
  color: var(--color-letras-cuaternario);
}
.terms {
  height: 370px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid white;
  background-color: var(--color-secundario);
  color: aliceblue;
}
label{
  display: block;
}
/*--------------REPORTE EVENTO-------------- */

.reporteEvento {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: var(--color-letras-cuaternario);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px;
}

.imagenEvento {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat {
  background: var(--color-principal-claro);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.stat h2 {
  margin: 0;
  font-size: 18px;
  color: var(--color-letras-primario);
}

.stat p {
  margin: 5px 0 0;
  font-size: 24px;
  color:var(--color-letras-primario);
}

.entries {
  background: var(--color-principal-claro);
  padding: 10px;
  text-align: center;
  width: 50%; 
  border-radius: 8px;
  margin: 0px auto;
}

.entries h2 {
  margin-top: 0;
  font-size: 18px;
  color: var(--color-letras-primario);
}

.entries ul {
  list-style-type: none;
  padding: 0;
}

.entries li {
  background: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}
/*----- Estilos reporte productora----- */

.reporteProdu {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color:var(--color-letras-cuaternario);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat {
  flex: 1;
  margin: 0 10px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.events {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  background-color: var(--color-principal-claro);
  border: 1px solid var(--color-letras-primario);
  border-radius: 10px;
  padding: 0rem 1rem;
  display: flex;
  margin: 1rem 0;
  text-align: left;
  color: var(--color-letras-cuaternario);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-info {
  flex: 1;
}

.entradas-tipo {
  margin-left: 80px; 
  flex: 1;
  margin-top: 50px; 
}

.event h3 {
  color: var(--color-letras-cuaternario);
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.event p {
  margin: 0.5rem 0;
}

.event-entradas-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.event-entradas-item {
  margin-bottom: 5px;
  color:black;
  padding: 0.2rem 0;
  font-size: 0.9rem;
}

.event-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.event-stats div {
  flex: 1 1 calc(33.333% - 1rem);
  background-color: var(--color-fondo-secundario);
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}

.event-stats div p {
  margin: 0.2rem 0;
  font-size: 1rem;
  color: var(--color-letras-primario);
}

.asistencia-baja p:nth-child(2) {
  color: red !important;  
  font-weight: bold;
}