.mainNotFound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
}

.titleNotFound{
  color: var(--color-letras-terceario);
  padding: 1rem;
  font-size: 3rem;
  font-family: var(--fuente-primaria);
}

.linkNotFound{
  font-size: 2.5rem;
  font-family: var(--fuente-primaria);
  color: var(--color-header1);
  text-decoration: none;
  font-weight: bolder;
}

@media (min-width: 1024px) {
  .linkNotFound:hover{
    font-size: 2.7rem;
    transition: 0.35s all ease-in;
  }
}