.tituloBeneficios  {
    margin: 0;
    padding: 4rem;
    background-image: url(../../../images/ViviLaExperiencia.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    height: 10vh; 
  }
.tituloBeneficios h1 {
    text-align: center;
    font-size: 3.5rem;
    color: var(--color-letras-secundario);
    text-shadow: 2px 2px 4px var(--color-letras-primario);
}

.allListaBeneficios {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    opacity: 1; /* Poca transparencia */
}

.modal-content p {
    font-size: 1.2rem;
    font-weight: bold;
}
  