.crearBeneficio {
  justify-items: center;
  margin: 0 2rem;
  background-color: var(--color-letras-cuaternario);
  padding: 10px;
  text-align: center;
}

.formularioBeneficio {
  text-align: justify;
}

.datosBeneficio {
  width: 100%;
  height: auto;
  grid-area: beneficio;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.buttonCrearBeneficio {
  text-align: center;
}

.buttonCrearBeneficio > button{
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color: var(--color-letras-terceario);
  color: var(--color-letras-secundario);
  border-radius: 30px;
}

.buttonCrearBeneficio > button:hover {
  background-color: var(--color-letras-secundario);
  color:var(--color-letras-terceario);
}
/*Datos del Beneficio*/

.datosBeneficio label > input,
.datosBeneficio label > select {
  display: block; /*Label arriba del input*/
  width: 100%;
}
.calcular{
  background-color: var(--color-letras-terceario);
  color: var(--color-letras-secundario);
}
.calcular:hover, .publicarTicketButton > button:hover  {
  background-color: var(--color-letras-secundario);
  color:var(--color-letras-terceario);
}