.cliEventos{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--fuente-primaria);
  z-index: 1;
}

.cliEventos h1{
  font-size: 1.8rem;
  padding: 2rem 0 1rem 0;
  font-weight: 500;
}

.cliEventos hr{
  color: var(--color-oscuro);
  height: 0.1rem;
  width: 100%;
}

.allListaEventos{
  display: flex;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}