.beneficioProductView {
  background: var(--color-claro);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.beneficioHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.beneficioNombre, .beneficioEvento strong{
  font-weight: bolder;
}

.beneficioPorcentaje {
  background: #e74c3c;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 0.6rem;
  font-weight: bold;
}

.beneficioCodigo strong {
  margin-left: 0.4rem;
}

.beneficioEliminar{
  background-color: #e74c3c;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-family: var(--fuente-primaria);
  font-weight: bolder;
  color: var(--color-letras-secundario);
  transition: background-color 0.2s ease, transform 0.15s ease, box-shadow 0.15s ease;
  cursor: pointer;
}

.beneficioEliminar:hover{
  transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}